[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = DeSolator2008
	email = 149343392+DeSolator2008@users.noreply.github.com
